<section class="container">
  <header class="header d-flex">
    <h2 class="ffinter">My Wall</h2>
    <button routerLink="/createNote" class="button">Add note</button>
  </header>
  <div class="wall" *ngIf="listNotes.length > 0, else: empty">
    <div *ngFor="let note of listNotes">
      <app-note [note]="{ id: note.id!, content: note.content, author: note.author, model: note.model }"></app-note>
    </div>
  </div>
</section>
<ng-template #empty>
  <div class="ff-inter empty">
    <p>Your wall is empty</p>
  </div>
</ng-template>
